---
layout: default
---

<section id="content">
       <h1>David Edgar</h1>
       <ul id="connections">
         <li><a href="https://twitter.com/gilmae" target="_blank"><span class="icon icon--github">{% include icon-twitter.svg %}</span>
</a></li>
         <li><a href="https://github.com/gilmae" target="_blank"><span class="icon icon--github">{% include icon-github.svg %}</span></a></li>
         <li><a href="https://au.linkedin.com/in/edgardavid" target="_blank"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span></a></li>
         <li><a href="mailto:avocadia@fastmail.fm" target="_blank"><span class="icon icon--email">{% include icon-email.svg %}</span></a></li>
       </ul>
     </section>
